apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: jukebox
  namespace: argo-cd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/raimangsxr/argocd-apps.git
    targetRevision: main
    path: manifests/jukebox
  destination:
    server: https://kubernetes.default.svc
    namespace: jukebox
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
